<div class="col-md-10 mx-auto p-0 mt-50" *ngIf="issue">
    <div>
        <h2>{{issue.title}} <span class="text-muted">#{{issue.number}}</span></h2>
        <p class="text-muted text-md">
            <span class="btn btn-sm btn-success"><i class="fa fa-info-circle"></i> {{issue.state}}</span> &nbsp;
            <b>{{issue.user.login}}</b>
            opened this issue on {{issue.created_at | date: "mediumDate"}} · <span *ngIf="comments">{{comments.length}}</span> comments
        </p>
    </div>
    <hr>
    <ul class="list-unstyled">
        <li class="media" [@fade]="true">
            <img class="mr-3 media-img" [src]="issue.user.avatar_url">
            <div class="media-body">
                <div class="card">
                    <h5 class="card-header no-bold text-md"><b>{{issue.user.login}}</b> commented on {{issue.created_at | date: "mediumDate"}}</h5>
                    <div class="card-body">
                        <div markdown-to-html class="text-sm">
                            {{issue.body}}
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li *ngFor="let comment of comments" class="media mt-20" [@fade]="true">
            <img class="mr-3 media-img" [src]="comment.user.avatar_url">
            <div class="media-body">
                <div class="card">
                    <h5 class="card-header no-bold text-md"><b>{{comment.user.login}}</b> commented on {{comment.created_at | date: "mediumDate"}}</h5>
                    <div class="card-body">
                        <div markdown-to-html class="text-sm">
                            {{comment.body}}
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

</div>


